<!DOCTYPE html>
    <html>
    <body>

    <h2>Example.com - Employee Portal</h2>
    <h3>Current shipment stats</h3>
    <iframe width="600" height="400" src="https://ap-northeast-2.quicksight.aws.amazon.com/sn/embed/share/accounts/629515838455/dashboards/e0ebb5ba-b73d-4f32-9f20-982fd5f776dc/sheets/e0ebb5ba-b73d-4f32-9f20-982fd5f776dc_a3f56b85-a867-4890-bf8a-3df4aaccdc71/visuals/e0ebb5ba-b73d-4f32-9f20-982fd5f776dc_2937a920-0422-4ee8-8ece-874fd52481cb?directory_alias=fiveworks"></iframe>
    <iframe width="600" height="400" src="https://ap-northeast-2.quicksight.aws.amazon.com/sn/embed/share/accounts/629515838455/dashboards/e0ebb5ba-b73d-4f32-9f20-982fd5f776dc/sheets/e0ebb5ba-b73d-4f32-9f20-982fd5f776dc_a3f56b85-a867-4890-bf8a-3df4aaccdc71/visuals/e0ebb5ba-b73d-4f32-9f20-982fd5f776dc_2937a920-0422-4ee8-8ece-874fd52481cb?directory_alias=fiveworks"></iframe>    
</body>
    </html>
